/* Основные стили */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color:#000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Button */

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  display: block;
  margin: 0;
  border: none;
}

.navigation-item-button {
  box-sizing: border-box;
  min-width: 160px;
  min-height: 36px;
  margin: 14px 0 14px 20px;
}

.navigation-link-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color:#ffffff;
  background-color: #756157;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
}

.search-button-container {
  box-sizing: border-box;
  min-width: 376px;
  min-height: 52px;
  margin: 54px 412px 96px 412px;
}

.search-hotels-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color:#ffffff;
  background-color: #756157;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  padding: 8px 50px;
  border-radius: 4px;
}

.subscription-button {
  border-radius: 0 4px 4px 0;
  width: 232px;
  min-height: 52px;
}

/* filter-button */

.wrapper-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 56px;
}

.filter-button {
  display: flex;
  justify-content: center;
  min-width: 191px;
  align-items: center;
  margin-bottom: 32px;
  padding: 8px 50px;


}

.filter-reset {
  background-color: transparent;
}

/* option-searches button */

.option-button {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  text-decoration: none;
  color: #000000;
}

/* hotel-card button */

.hotel-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color:#ffffff;
  background-color:#756157;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  width: 140px;
  min-height: 36px;
}

.hotel-card-button.favourites {
  background-color: #82B3D3;
}

.hotel-card-button.in-favourites {
  background-color: #7DB54F;
}


/* Header */

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}


.page-header {
  display: flex;
  width: 1060px;
  min-height: 64px;
  padding: 0 70px;
  margin: 0 auto;
  color:#000000;
  background-color:#ffffff;
}

.logo {
  top: 0;
  left: 70px;
  width: 140px;
  height: 70px;
}


.logotype {
  display: block;
}

.navigation {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 0;
  margin: 0 auto 0 28px;
  list-style: none;
}

.navigation-item {
  box-sizing: border-box;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}


.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link-search {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color:#ffffff;
  background-repeat: no-repeat;
  text-decoration: none;
  padding: 22px 12px;
}

.navigation-link-counter {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color:#ffffff;
  background-repeat: no-repeat;
  text-decoration: none;
  padding: 22px 12px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: inherit;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color:#ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 21px;
  overflow: hidden;
}


/* Main */

.main-container {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Hero */

.hero {
  background-color: aliceblue;
  background-image: url("../images/hero.jpg");
  background-size: 1200px, cover;
  background-repeat: no-repeat;
}

.hero img {
  vertical-align: middle;
}

.hero-background {
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
}

/* Advantages */

.advantages {
  padding: 69px 0 64px 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 25px;
}

.advantages-description {
  margin: 0;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  height: 385px;
  box-sizing: border-box;
}

.advantages-item-full {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.advantages-item-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.advantages-item-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 80px;
}

.advantages-item-description {
  text-align: center;
  margin: 0;
  padding-top: 60px;
}

.advantages-item-picture {
  margin: 0;
  height: 100%;
  width: 800px;
}

.advantages-item-picture img {
  display: block;
  width: 100%;
  height: auto;
}

.advantages-item-light {
  background-color: #83B3D31F;
  color:#000000;
}

.advantages-item-medium-blue {
  background-color: #83B3D333;
  color:#000000;
}

/* Services */

.services-title {
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 20px;
}

.services-definition {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-bottom: 64px;
}

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.services-item {
  width: 400px;
  min-height: 385px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 183px 85px 81px;
  color:#000000;
  background-color: #83B3D31F;
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.services-description {
  text-align: center;
  margin: 0;
}

.services-item.house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: top 81px center;
}

.services-item.food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: top 81px center;
}

.services-item.light {
  background-color: #ffffff;
}

.services-item.present {
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: top 81px center;
}

/* Search-hotels */

.search-hotels-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 96px;
}

.search-hotels-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}


/* Subscription (index + catalog) */

.subscription {
  margin: 0 auto;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
}

.wrapper-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 684px;
  min-height: 215px;
  padding: 96px 258px 104px 258px;
}

.subscription-photo {
  background-image: url("../images/subscription-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.subscription-title{
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#ffffff;
  padding-bottom: 54px;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  min-width: 684px;
}

input.email{
  width: 452px;
  min-height: 52px;
  margin: 0;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: 2px solid #f2f2f2;
}

.subscription-title.hotel-title{
  color: #000000;
}

.subscription-description.hotel-description {
  color: #000000;
}


/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  color: #000000;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 142px;
  gap: 10px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.social {
  height: 40px;
  padding: 0 10px;
}

.social-youtube {
  margin-top: 1px;
  padding-left: 5px;
}

.social-telegram {
  padding-left: 5px;
}

.contacts-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform:uppercase;
  white-space: nowrap;
  text-decoration: none;
  color:#000000;
  background-color:#ffffff;
}


/* Inner page */

/* Catalog */

/* main-inner */

.main-inner {
  font-family: inherit;
}

.page-container.inner {
  background-color:#000000;
  background-image: url("../images/catalog-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
  padding-top: 35px;
  padding-bottom: 70px;
}

/* inner-header */

.inner-header {
  padding: 0 70px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}

/* breadcrubs */

.breadcrubs-list {
  display: flex;
  padding: 0;
  gap: 28px;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrubs-item {
  color: #ffffff;
  position: relative;
}

.breadcrubs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

/* catalog-filter / form */

.catalog-filter {
  list-style: none;
  padding: 0 70px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 160px;
}

.catalog-filter-infrastructure {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  color: #ffffff;
  border: 0;
}

.catalog-filter-housing {
  margin: 0;
  margin-right: 140px;
  padding: 0;
  color: #ffffff;
  border: 0;
}

.catalog-filter-cost {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  color: #ffffff;
  border: 0;
}
.catalog-filter-title {
  min-width: 170px;
  padding-bottom: 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  padding-bottom: 16px;
}

.control {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}


/* Sorting */

.sorting {
  font-family: inherit;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
}

.results {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 70px;
  margin-left: 70px;
  margin-right: 70px;
  width: 1060px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.results-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

/* select */

.select-control {
  position: relative;
  display: block;
  width: 292px;
  min-height: 49px;
  box-sizing: border-box;
  margin-left: 200px;
  padding: 14px 50px 14px 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #333333;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

/* option-search */

.option-searchs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 160px;
  margin: 0;
  margin-left: 70px;
  gap: 8px;
}

/* hotel-card */

.hotels-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 0 70px;
  padding: 0;
  padding-bottom: 40px;
  flex-wrap: wrap;
  border-bottom: 1px solid #E6E6E6;
  list-style: none;
}

.hotel-card {
  box-sizing: border-box;
  width: 340px;
  min-height: 438px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotel-card-picture {
  display: block;
}

.hotel-card-title {
  margin: 16px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000000;
}

.hotel-card-name{
  text-decoration: none;
  color: #000000;
}

.hotel-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
  width: 100%;
  color: #333333;
}

.hotel-card-row:last-child {
  margin-bottom: 0;
}

.hotel-card-type {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotel-card-price {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.hotel-card-stars {
  min-width: 18px;
  height: 17px;
}

.hotel-card-raiting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
  margin: 0;
}

/* pagination */

.pagination-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 40px 70px 60px 70px;
  list-style: none;
}

.pagination-item {
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.pagination-item.pagination-current {
  background-color: #F2F2F2;
}

.pagination-item.pagination-current .pagination-link {
  color: #000000;
}

.pagination-item.pagination-all {
  background-color: transparent;
}

.pagination-item.pagination-all .pagination-link {
  color: #000000;
}
